/* EVENTS WIDGET FORMATTING */

ul.event-list {
	list-style: none;
	margin: 0 0 1.7148571em;
	padding: 0;}

li.event {
	clear: both;}

.event-date {
	white-space: nowrap;
	float: left;
	margin-bottom: 1.7148571rem;}

.event-list .start-date, .event-list .end-date {
	text-align: center;
	width: 49px;
	width: 3.5rem;
	padding: 0.979592rem 0;
	background-color: #000;
	color: #fff;
	overflow: hidden;}

.event-list .start-date {
	float: left;}

.event-list .end-date {
	margin-left: 56px;
	margin-left: 4rem;}

.event-weekday, .event-month, .event-year {
	font-size: 9.8px;
	font-size: 0.7rem;
	line-height: 1.399416;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	letter-spacing: 0.1rem;}

.event-day {
	font-size: 19.6px;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 6.11666667px;
	margin-bottom: 0.436734689rem;
	margin-top:    1.71666667px;
	margin-top:    0.122448979rem; }

.multi-day {
	margin: 0 0 0 112px;
	margin: 0 0 0 8rem;}

.single-day {
	margin: 0 0 0 56px;
	margin: 0 0 0 4rem;}

li.event div.event-info > h3 {
	clear: none;
	font-size: 16.8px;
	font-size: 1.2rem;
	line-height: 1.42857;
	margin-bottom:0;}

.event-time {
	font-weight: bold;
	padding-right: 0.8em;}

.event-details {
	font-size: 0.8em;}